<div class="header-container">
  <img id="hamburger-image" class="img-thumbnail rounded mx-auto d-block" src="assets/burger.jpg" alt="Burger image.">
  <header id="header" class="jumbotron jumbotron-fluid">Eat-Da-Burger!</header>
</div>

<hr>

<div class="main-container">
  <section id="available-hamburgers">
    
      {{#each burgers}}
        {{#unless devoured}}
          <p class="available-burger">
            <span class="burgers btn btn-success">
              {{id}}
              {{burger_name}}
            </span>
            <span id="devour-button">
             
                <input type="hidden" name="devoured" value="true">
                <button data="{{item_id}}" class="devour-button" type="submit">Devour it!</button>
              
            </span>
          </p>
        {{/unless}}
      {{/each}}
   
  </section>


{{!-- Devoured --}}
  <section id="devoured-hamburgers">
    
      {{#each burgers}}
        {{#if devoured}}
          <p class="devour-burger btn btn-danger">
            {{id}}
            {{burger_name}}
          </p>
        {{/if}}
      {{/each}}
    
  </section>
</div>


  <section id ="new-burger">
    <form class="add-burger-form">

      <div class="form-group">
        <label for="newburgerform">Create New Burgers</label>
        <textarea id="new-burger-text" class ="form-text text-muted" placeholder="Ex/ Maui Wowie Burger" rows="4" name="burger_name" required></textarea>
      </div>

      <button type="submit" id="new-burger-submit">Submit</button>
    </form>

    <p>Click the "Submit" button when finished.</p>

  </section>


<script>
$(".add-burger-form").on("submit", function(event){
  event.preventDefault()

  var burgerName = $("#new-burger-text").val().trim()
  console.log("new burger name, index:,", burgerName)

  var body = {
    name:burgerName
  }
  $.post("/add-burger", body, function(response){
    console.log("response /add-burger index:", response)
    location.reload()
  })
})

$(".devour-button").on("click", function(){
  var id = $(this).attr("data")
  console.log("id", id)
})

</script>